.info {
	padding: 5px 20px 20px;
}

.link {
	background-color: #fff;
	border: .5px solid #ddd;
	color: #141414;
	text-decoration: none;
}

.image {
	display: block;
	width: 100%;
}

.price {
  font-weight: bold;
}
