.page {
	display: grid;
	grid-template-columns: 1fr;
}

.container {
	padding: 0 48px;
}

.header {
	align-items: center;
	background: #f9f9f9;
	border-bottom: 1px solid #ddd;
	color: #6b6b6b;
	display: flex;
	font-size: 24px;
	font-weight: 200;
	justify-content: center;
	letter-spacing: normal;
	line-height: 30px;
	margin: 0;
	padding: 20px 48px 20px 16px;
	text-transform: none;

	&-text {
		margin-right: auto;
		padding-left: 16px;
	}
}

.back {
	color: #6b6b6b;
	cursor: pointer;
	height: 16px;
	margin-right: auto;
	transform: rotate(90deg);
	width: auto;
}

.detailsAccordion {
	padding: 12px 0 24px;

	&-summary {
		align-items: center;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		display: flex;
		font-size: 20px;
		height: 60px;
		justify-content: space-between;
		list-style-type: none;
		padding: 0 48px;
	}

	&-chevron {
		color: green;
		height: 16px;
		transform: rotate(-90deg);
		transition: transform .25s ease;
		width: auto;
	}

	&[open] &-chevron {
		transform: rotate(0);
	}

	&-content {
		margin: 0;
		padding: 24px 48px;
	}
}

.attributeList {
	font-weight: 200;
	list-style-type: none;
	margin: 0;
	padding: 24px 0;

	&-item {
		align-items: center;
		border-top: 1px solid #ddd;
		display: flex;
		height: 60px;
		justify-content: space-between;

		&:last-child {
			border-bottom: 1px solid #ddd;
		}
	}
}

.priceSection {
	margin-top: 4px;
	padding: 20px 48px;

	&-price {
		color: #141414;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		margin: 0 0 4px;
	}

	&-special {
		color: #db003e;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		margin: 0 0 4px;
	}

	&-guarantee {
		color: #141414;
	}
}

.detailsSection {
	&-info {
		margin: 0;
		padding: 24px 0;
	}

	h2 {
		color: #6b6b6b;
		font-size: 26px;
		margin: 0;
	}
}

.detailsSpecHeader {
	padding-top: 24px;
}

@media screen and (min-width: 768px) {
	.page {
		grid-template-columns: 2fr 1fr;
	}
	.priceSection {
		border-left: 1px solid #ddd;
		grid-area: 1 / 2 / 3;
	}
}
