.header {
	background: #f9f9f9;
	text-transform: none;
	color: #6b6b6b;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
    text-transform: none;
    letter-spacing: normal;
	margin: 0;
	padding: 24px 0;
}

.content {
  display: grid;
  background-color: #dddddd;
  color: black;
  padding: 1px ;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) {
  .content {
	grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
}

.price {
  font-weight: bold;
}
